/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(163, 100, 223);
}

a:hover {
  color: rgb(187, 5, 5);
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #222;
}

/* || VARIABLES*/

:root {
  --BGCOLOR: red;
  --BORDER-COLOR: black;
}

/* || GENERAL STYLES */

@font-face {
  font-family: norseBold;
  src: url(/design/Norse-Bold.otf);
}
/* || UTILITIES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* BEM */
/* MAIN */
.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}
/* IMG */
.img {
  width: 30%;
  min-width: 580px;
  background: url(design/mariusz-slonski-LycNz2hKV0Q-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background-color: #0f0f0fb2;
  width: 100%;
}
.logo__img {
  height: 70%;
}
.logo__name {
  font-size: 100px;
  color: #e3e3e3;
  text-transform: uppercase;
  font-family: norseBold;
  letter-spacing: 10px;
}
.credit {
  margin-top: auto;
  padding-bottom: 15px;
  text-align: center;
  color: #e3e3e3;
}
/* FORM */
.form {
  width: 70%;
  min-width: 750px;
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 75px;
  position: relative;
  font-size: 1.3rem;
}

.form__text,
.form__paragraph {
  text-align: left;
  padding-left: 50px;
  padding-right: 100px;
}

.form__paragraph {
  margin-top: -50px;
}

.form__sign-in {
  background-color: antiquewhite;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 50px;
}

.legend {
  width: 100%;
  margin-bottom: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: calc(50% - 200px);
}

label {
  text-transform: uppercase;
  color: #222222e7;
  font-size: 0.8rem;
}

.button {
  width: 200px;
  margin-left: 50px;
  margin-top: -50px;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(9, 87, 9);
  color: #e3e3e3;
  font-weight: bold;
}

.paragraph {
  font-size: 0.8rem;
  margin-left: 50px;
  margin-top: -25px;
}

/* ATTRIBUTION */
.attribution {
  height: 1.5em;
  text-align: center;
  font-size: 1rem;
}
/* MEDIA */
/* Small */
@media (min-width: 576px) {
}
/* Medium */
@media (min-width: 768px) {
}
/* Large */
@media (min-width: 992px) {
}
/* X-Large */
@media (min-width: 1200px) {
}

/*TODO:
-Change to percentage
-responsive layout
-form mod
*/
