/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #222;
}

/* || VARIABLES*/

:root {
  --BGCOLOR: red;
  --BORDER-COLOR: black;
}

/* || GENERAL STYLES */
/* || UTILITIES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* BEM */

/* MEDIA */
/* Small */
@media (min-width: 576px) {
}
/* Medium */
@media (min-width: 768px) {
}
/* Large */
@media (min-width: 992px) {
}
/* X-Large */
@media (min-width: 1200px) {
}
